{% extends 'base.html' %}

      {% block content %}
        <div class="container mt-5 bg-light text-center" >
          <div class="d-flex " >
            <OL>
          
              {% for agent in agents %}
              
                <li><h4><a href="{% url 'profileEditor' id=agent.id %}">{{agent}}</a>
                  <a class="btn btn-outline-primary mx-4" href="{% url 'overfilledAgent' id=agent.id %}">Over Filled Amount</a>
                  <a class="btn btn-outline-primary " href="{% url 'balance' id=agent.id %}">Balance Work</a></h4>
                </li>
                                
              {% endfor %}
            </OL> 
          </div>    
        </div>  
      {% endblock %}
    