{% extends 'base.html' %}
{% load static %}
    {% block title %}
        Success
    {% endblock %}
    {% block content %}
          {{ben}}
        <br>
        <div class="card mt-5" style="width: 58rem;">
        <!--<img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
        <h5 class="card-title">Cashier Name: {{cashier.user.first_name}} {{cashier.user.last_name}}</h5>
        <p class="card-text">
            <table  cellpadding = "5" cellspacing = "5" class="bg-light table table-bordered">
                <thead >
                    <th>Gas Station</th>
                    <th>Benzene Sales</th>
                    <th>Over Filled Benzene</th>
                    <th>Petrol Sales</th>
                    <th>Over Filled Petrol</th> 
                    <th>Date</th>
                </thead>        
                
                <tbody>
                    
                <tr class="table-success">
                    <td>{{ cashier.gasstation.name }}</td>
                    <td>{{ benz.Total }}</td>
                    <td>{{ benz.Loss }}</td>
                    <td>{{ petr.Total }}</td>
                    <td>{{ petr.Loss }}</td>
                    <td>{{ today }}</td>
                </tr>
                </tbody>              
                                
            </table>
            <div class="my-3 mx-5">                
                <strong>Accountable benzene sale: {{net_ben}}  Liters </strong> <br>
                <strong> Accountable petrol sale: {{net_pet}}  Liters </strong>
            </div>
        </p>
        <a  href="{% url 'approve' id=id %}" class="btn btn-primary ml-5"><h4>Approve</h4></a>
    
        </div>
        </div>
    {% endblock %}
   