{% extends 'base.html' %}
{% load static %}
    {% block title %}
        Success
    {% endblock %}
    {% block content %}

    {% if message %} 
    <div class="card mt-3 bg-light text-center" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
        <h5 class="card-title"><h4>{{message}}</h4></h5>
        <p class="card-text">  
            <span style='font-size:100px;'>&#{{emoji}};</span>  
        </p>           
        <a  href="{% url 'search' %}" class="btn btn-primary ml-5"><h4>OK</h4></a>
    </div>
    </div>

        {% endif %} 
    {% if result %} 
        <br>
        <div class="card mt-5" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
        <h5 class="card-title">{{ result }} Info</h5>
        <p class="card-text">
            <Ul>
                <li>Permited: {{result.permited_amount}}</li>
                <li>Used: {{usage.used_amount}}</li>
                <li>Left: {{usage.left_amount}}</li>
            </Ul>
        </p>
        
        </div>
        </div>
    {% endif %}   
    <div class="align-contetn-center mt-4 ">
        <br>
        
    </div>       
  
    {% endblock %}
   