{% extends 'base.html' %}
{% load static %}

    {% block title %}
        Home
    {% endblock %}
    {% block content %}

    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-lg-8">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Qajeelfama
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Qajeefama armaan gadii hordofaa:</strong> 
                      <ol>
                        <li>Lakkoofsa gabatee saanduqa armaan gadiitti galchaa </li>
                        <li>Batanii armaan gadii tuqaa</li>
                      </ol>
                      </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        መመርያ                                                 
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>ከዚህ በታች ያለውን መመርያ ይከተሉ</strong>
                      <ol>
                          <li>ከታች ባለው ሳጥን ውስጥ የሰሌዳ ቁጥር ይሙሉ</li>
                          <li>ከታች ያለውን የፈልግ መድብ ይንኩ</li>
                      </ol>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Tilmaanta
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Raac tilmaamaha hoose</strong>
                      <ol>
                        <li>Geli aqoonsiga gaadhiga sanduuqa hoose</li>
                        <li>Guji badhanka hoose</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div> 
                      
    
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-4 col-sm-8">
                
                <form method="post">        
                    {% if form %} 
                        <div class="card bg-light text-center" >
                            <!--<img src="..." class="card-img-top" alt="..."> -->
                            <div class="card-body">
                            <h4 class="card-title">Insert vehicle ID <br> Lakk. konkolaataa galchaa <br>የመኪና መለያ አስገቡ</h4>
                            <p class="card-text mt-3 ">
                                {{ form }}
                                <br>
                                <input type="submit" value="Barbaadi ፈልግ" class="btn btn-primary mt-3 ">
                            </p>
                            </div>
                        </div>
                    {% endif %} 
                    {% if result %} 
                    <div class="card bg-light">
                        <!--<img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body text-center">
                          <h5 class="card-title">ID: {{ result }} </h5>
                            <div class="text-start mt-3 mb-5">
                                    <h5 class="bg-red"><h4>{{ result.fuel }}</h4></h5>
                                <UL>
                                    <li>Permited: {{result.permited_amount}}</li>
                                        {% if todaysBalance %}
                                    <li>Used: {{todaysBalance.used_amount}}</li>
                                    <li>Left: {{todaysBalance.left_amount}}</li>
                                        {% else %}
                                    <li>Used: 0</li>
                                    <li>Left: {{result.permited_amount}}</li>
                                        {% endif %}
                                </UL>
                            </div>         
                          <a href="{% url 'update' pk=result.id fuel_typ=result.fuel.id %}" class="btn btn-warning">Gas Filled</a>
                          <a href="{% url 'search' %}" class="btn btn-primary"> Back</a>
                        </div>
                    </div>
                   
                    
                    {% endif %}
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
    
    {% endblock %}
   