{% extends 'home.html'%}
{% block title %}
Over draw
{% endblock %}
{% block content %}
    <table  cellpadding = "5" cellspacing = "5" class="bg-light table table-bordered">
        <thead >
            <!--
            <td>Vehicle</td>
            <td>Gas Station</td>
            <td>Date</td>
            <td>Amount Filled</td>
            <td>Over Draw</td>
            <td>Agent</td> 
            -->
            
            <th>Vehicle</th>
            <th>Gas Station</th>
            <th>Date</th>
            <th>Amount Filled</th>
            <th>Over Fill</th> 
            <th>Agent</th>
        </thead>        
        {% for over in overd %}
        
        <tbody>
            {% if over.dailyBalanceDone > 0 %}
        <tr class="table-success">
            <td>{{ over.vehicle }}</td>
            <td>{{ over.gasstation }}</td>
            <td>{{ over.date }}</td>
            <td>{{ over.filled_amount }}</td>
            <td>{{ over.over_draw }}</td>
            <td>{{ over.user }}</td>
        </tr>
        {% else %}
        <tr class="table-info">
            <td>{{ over.vehicle }}</td>
            <td>{{ over.gasstation }}</td>
            <td>{{ over.date }}</td>
            <td>{{ over.filled_amount }}</td>
            <td>{{ over.over_draw }}</td>
            <td>{{ over.user }}</td>
        </tr>
        {% endif %}
        </tbody>
        
        
            
        {% endfor %} 
        
    </table>
       
{% endblock %}