{% extends 'base.html' %}

    {% block title %}
        Success
    {% endblock %}
    {% block content %}
    
        <br>
    {% if result %} 
        <br>
        <div class="card mt-5 bg-light text-center" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
        <h5 class="card-title">Payment Completed</h5>
        <p class="card-text">
            content coming soon
        </p>
        <a href="{% url 'payments' %}" class="btn btn-primary">OK</a>
        </div>
        </div>
    {% endif %}   
        
    {% endblock %}
   