{% extends 'base.html' %}

    {% block title %}
        Success
    {% endblock %}
    {% block content %}
    
        <br>
    {% if result %} 
        <br>
        <div class="card mt-5 bg-light text-center" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
        <h5 class="card-title">Available payment requests</h5>
        <p class="card-text">
            <Ul>
                {% for payment in result %}
                    <li><a href="{% url 'paymentDetail' payment.id %}">{{ payment }}</a></li>                    
                {% endfor %}
            </Ul>
        </p>
        <a href="{% url 'search' %}" class="btn btn-primary">OK</a>
        </div>
        </div>
    {% endif %}
       
        
     
  
    {% endblock %}
   