{% extends 'home.html'%}
{% block title %}
Read Me
{% endblock %}
{% block content %}
       <div class="card mt-3 bg-light " style="width: 68rem;">
        <a class="" href="#"></a>
              
            <!--<img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title" id="read"><strong>Subsidized fuel controlling system for Ethiopia</strong> </h5>
              <p class="card-text">                
                
                <p>
                The objective of this project is to technologically support the current partial removal of gas subsidies for vehicles nationwide. Since only certain groups have the subsidy privilege, it is not going to be easy to implement the new subsidy policy without such a sophisticated single point operating system and make the government really save cost from the new policy. Ths system has the capability to track each drop of subsidized fuel and the vehicle used the it.
                </p>
                <strong>Features</strong> <br>
                <p>
                This new and timely system has the following features: 
                <ol>
                    <li>
                        Stores daily subsidized amounts of fuel for each eligible vehicle. An authorized person with appropriate credential will set the amount of permitted subsidized gas for a vehicle on the system after checking the vehicles' eligibility
                    </li>
                    <li>
                        Agents at gas stations use the system to check if a vehicle has permission for gas subsidy and if so, how much per day. In addition, this agent can see how much gas has already been purchased from the permitted level. Thus, giving the agent the exact amount left for the vehicle. After a vehicle fills a subsidized gas, the agent will reduce this amount from the permitted level. 
                        <br>
                        Government bodies can easily track how much of subsidized gas is purchased and by whom at a given date and location. This system can give crear image of what is happening to the governing bodies.
                    </li>
                    <li>
                        The subsidizing body will get a daily report on how much subsidezed gas is being consumed. At the end of the day all gas stations should be compensated for their subsidy sales. This system provides daily, weekly, monthly or yearly subsidized gas sales amounts for each gas station.
                    </li>
                    <li>
                        Avoid paper coupons. Cost and related hand process will be avoided
                    </li>
                    <li>
                        Only vehicles with subsidy privilege can use the offer and only to the maximum of their permitted level. A vehicle can fill gas from any gas station and still get tracked.
                    </li>
                </ol>
                <p>
                    This system is highly simple to use, user friendly and highly responsive. These features of simplicity and responsiveness came with careful design and Implementation by highly skilled engineers.
                </p>               
                          
            </div>
        </div>
       
{% endblock %}