{% extends 'base.html' %}

    {% block title %}
        Success
    {% endblock %}
    {% block content %}
    
        <br>
    {% if result %} 
        <br>
        <div class="card mt-5 bg-light" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h4 class="my-3">Successfully updated</h4>
        <h5 class="card-title">{{ result }} Info</h5>
        <p class="card-text">
            <Ul>
                <li>Permited: {{result.permited_amount}}</li>
                <li>Used: {{usage.used_amount}}</li>
                <li>Left: {{usage.left_amount}}</li>
            </Ul>
        </p>
        <a href="{% url 'search' %}" class="btn btn-primary">OK</a>
        </div>
        </div>
    {% endif %}
       
        
     
  
    {% endblock %}
   